.logo {
  text-align: center;
  font-size: 4.375rem;
  color: red;
  background: white;
  width: 6.563rem;
  height: 7.063rem;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  margin-left: 43%;
  font-family: Poppins;
  font-weight: bold;
}
.headings {
  color: white;
  text-align: center;
  font-size: 1.125rem;
  font-weight: normal;
  position: relative;
  margin: auto;
  font-size: 2.25rem;
  top: -15rem;
}
.locationSelector {
  position: relative;
  top: -14.875rem;
  margin-left: 27.5%;
  margin-right: 20%;
  text-align: center;
}
.locationDropdown {
  height: 2.5rem;
  width: 15.313rem;
  color: gray;
  border: none;
  border-radius: 0px;
  font-size: 0.938rem;
  opacity: 1;
  margin-right: 1.313rem;
  margin-bottom: 1.563rem;
  float: left;
}

.restaurantsinput {
  height: 2.5rem;
  width: 19.375rem;
  color: gray;
  border: none;
  border-radius: 0rem;
  font-size: 0.938rem;
  opacity: 1;
  float: left;
  padding-left: 1.875rem;
}

.search {
  position: absolute !important;
  left: 17.188rem;
  margin: 2% 0rem;
}

.quicksearch {
  position: absolute;
  margin-left: 0.938rem;
  margin-top: -2.188rem;
}

.quicksearchHeading {
  text-align: left;
  color: #192f60;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: Poppins;
  padding-left: 2.188rem;
}

.quicksearchSubHeading {
  text-align: left;
  color: gray;
  font-size: 1.125rem;
  font-weight: normal;
  font-family: Poppins;
  padding-left: 2.188rem;
}

.tileContainer {
  height: 9.375rem;
  width: 21.875rem;
  background-color: white;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  margin-left: 1.25rem;
  box-shadow: 0 0.188rem 0.375rem gray;
  float: left;
}

.tileComponent1 {
  width: 45%;
  float: left;
}

.tileComponent2 {
  width: 50%;
  float: left;
  margin-top: 1.25rem;
}

.componentHeading {
  text-align: left;
  color: #192f60;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.componentSubHeading {
  text-align: left;
  color: gray;
  font-size: 1.125rem;
}

.qs-block {
  box-shadow: 0 0.188rem 0.375rem 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 0.313rem;
}

.marg-bot {
  margin-bottom: 0.625rem;
}

.heading {
  width: 5.5rem;
  height: 1.563rem;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
